<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список товаров</title>
    <style>
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<body>
<form th:action="@{/logout}" method="post" style="display: inline;">
    <button type="submit">Выйти</button>
</form>
<h1>Список товаров</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Категория</th>
        <th>Цена</th>
        <th>Количество</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">1</td>
        <td th:text="${product.name}">Название</td>
        <td th:text="${product.category.name}">Категория</td>
        <td th:text="${product.price}">0</td>
        <td th:text="${product.quantity}">0</td>
    </tr>
    </tbody>
</table>

<br>
</body>
</html>